<div class="row">
    <div class="col-xs-4  panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="list-group-item-heading">{{ contacts.name }}</h4>
            <span>
                <img [src]="contacts.imagePath" alt="{{ contacts.name }}" class="img-responsive" style="max-height: 50px;">
            </span>
            <a class="btn btn-success pull-right btn-danger" (click)="onDelete()">Delete</a>
            <a class="btn btn-success pull-right btn-primary" (click)="onEditContact()">Edit</a>
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <h4>Email: {{ contacts.email }}</h4>
                <h4>Phone: {{ contacts.phone }}</h4>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-xs-12">
    </div>
</div>