<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">ResuMe</a>
        </div>

        <div class="navbar-light">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/resume">Resume</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/applications">Applications</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/schedule">Schedule</a>
                </li>
            </ul>
        </div>

    </div>
</nav>