<div class="panel panel-default">
    <div class="panel-body">
        <form id="resume-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control required" size="120" max="120" name="name" ngModel required #name="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="date">Date:</label>
                    <input type="text" id="date" class="form-control required" size="120" max="255" name="date" ngModel #date="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="phone">Role:</label>
                    <input type="text" id="role" class="form-control invalid" size="150" max="255" name="role" ngModel #role="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="imageUrl">Description:</label>
                    <input type="text" id="imageUrl" class="form-control" size="150" max="255" name="description" ngModel #description="ngModel">
                    <div class="alert alert-danger" *ngIf="f.invalid">
                        <h3>The Name is required.</h3>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="form-group">
                    <label for="groupList">Group Contacts:</label>

                    <div class="row" id="groupList" style="min-height: 3rem;">

                        <div *ngFor="let contact of groupContacts; let i = index">
                            <div>
                                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
                            </div>
                        </div>
                        <span class="dragMsg" *ngIf="groupContacts?.length < 1">Drag contacts in group here</span>
                    </div>

                </div>
            </div> -->


            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>